.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.section {
  padding: 1rem;
  width: 100%;
  max-width: 650px;
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(0, 0, 0, 0.5) 10%,
    rgba(0, 0, 0, 0.5) 75%,
    rgba(255, 255, 255, 0.5) 100%
  );
}

.section_info {
  display: flex;
  flex-direction: column;
  gap: 18px;
  flex-grow: 1;
  min-height: 150px;
  max-width: 1000px;
  padding: 3rem;
}

.subsection {
  display: flex;
  padding: 1rem;
  width: fit-content;
}

.subsection_container {
  display: flex;
}

.subsection_info {
  display: flex;
  flex-direction: column;
  width: 250px;
  gap: 0.75rem;
  padding-top: 30px;
}

.title {
  font-weight: 700;
  padding-left: 1.25rem;
}

.carousel_container {
  max-width: 600px;
}

.social_container {
  display: flex;
  justify-content: center;
}

.social_icon {
  font-size: larger;
}

@media (max-width: 900px) {
  .subsection {
    background: linear-gradient(-45deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 0.5) 40%);
  }

  .subsection_info {
    width: 100%;
  }

  .subsection_container {
    flex-direction: column;
  }

  .social_container {
    justify-content: flex-end;
  }

  .carousel_container {
    max-width: unset;
  }
}

@media (max-width: 600px) {
  .carousel_container {
    max-width: calc(100vw - 64px);
  }
}
