.inline {
  display: flex;
  gap: 0.5rem;
}

.container {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 1rem;
  background: linear-gradient(-45deg, rgba(255, 255, 255, 1) 0%, transparent 40%);
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 70%;
}

.image {
  position: relative;
  width: 360px;
}

@media (max-width: 900px) {
  .info {
    width: 100%;
  }

  .image {
    display: none;
  }
}
